# [作業目標]
- 請同學試著使用 pandas.corr() 這個函數來顯示相關係數並加以觀察結果 
- 思考1 : 使用 pandas 有沒有什麼寫法, 可以顯示欄位中最大的幾筆, 以及最小幾筆呢? (Hint: 排序後列出前幾筆/後幾筆)
- 思考2 : 試著使用散佈圖, 顯示相關度最大/最小的特徵與目標值的關係, 如果圖形不明顯, 是否有調整的方法?

# [作業重點]
- 綜合前幾單元的作法, 試試看是否能夠用繪圖顯示出特徵與目標的相關性

In [1]:
# 載入需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# 設定 data_path
dir_data = './data/'

In [2]:
# 讀取資料檔
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)
app_train.shape

(307511, 122)

In [3]:
# 將只有兩種值的類別型欄位, 做 Label Encoder, 計算相關係數時讓這些欄位可以被包含在內
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# 檢查每一個 column
for col in app_train:
    if app_train[col].dtype == 'object':
        # 如果只有兩種值的類別型欄位
        if len(list(app_train[col].unique())) <= 2:
            # 就做 Label Encoder, 以加入相關係數檢查
            app_train[col] = le.fit_transform(app_train[col])            
print(app_train.shape)
app_train.head()

(307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,...,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,M,0,1,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,...,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,F,0,0,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,...,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,M,1,1,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,F,0,1,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,M,0,1,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# 受雇日數為異常值的資料, 另外設一個欄位記錄, 並將異常的日數轉成空值 (np.nan)
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

# 出生日數 (DAYS_BIRTH) 取絕對值 
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])

### 相關係數
一樣，pandas 很貼心地讓我們可以非常容易計算相關係數

In [5]:
# 觀察相關係數
app_train.corr()['TARGET']

SK_ID_CURR                     -0.002108
TARGET                          1.000000
NAME_CONTRACT_TYPE             -0.030896
FLAG_OWN_CAR                   -0.021851
FLAG_OWN_REALTY                -0.006148
CNT_CHILDREN                    0.019187
AMT_INCOME_TOTAL               -0.003982
AMT_CREDIT                     -0.030369
AMT_ANNUITY                    -0.012817
AMT_GOODS_PRICE                -0.039645
REGION_POPULATION_RELATIVE     -0.037227
DAYS_BIRTH                     -0.078239
DAYS_EMPLOYED                   0.074958
DAYS_REGISTRATION               0.041975
DAYS_ID_PUBLISH                 0.051457
OWN_CAR_AGE                     0.037612
FLAG_MOBIL                      0.000534
FLAG_EMP_PHONE                  0.045982
FLAG_WORK_PHONE                 0.028524
FLAG_CONT_MOBILE                0.000370
FLAG_PHONE                     -0.023806
FLAG_EMAIL                     -0.001758
CNT_FAM_MEMBERS                 0.009308
REGION_RATING_CLIENT            0.058899
REGION_RATING_CLIENT_W_CITY     0.060893
HOUR_APPR_PROCESS_START        -0.024166
REG_REGION_NOT_LIVE_REGION      0.005576
REG_REGION_NOT_WORK_REGION      0.006942
LIVE_REGION_NOT_WORK_REGION     0.002819
REG_CITY_NOT_LIVE_CITY          0.044395
REG_CITY_NOT_WORK_CITY          0.050994
LIVE_CITY_NOT_WORK_CITY         0.032518
EXT_SOURCE_1                   -0.155317
EXT_SOURCE_2                   -0.160472
EXT_SOURCE_3                   -0.178919
APARTMENTS_AVG                 -0.029498
BASEMENTAREA_AVG               -0.022746
YEARS_BEGINEXPLUATATION_AVG    -0.009728
YEARS_BUILD_AVG                -0.022149
COMMONAREA_AVG                 -0.018550
ELEVATORS_AVG                  -0.034199
ENTRANCES_AVG                  -0.019172
FLOORSMAX_AVG                  -0.044003
FLOORSMIN_AVG                  -0.033614
LANDAREA_AVG                   -0.010885
LIVINGAPARTMENTS_AVG           -0.025031
LIVINGAREA_AVG                 -0.032997
NONLIVINGAPARTMENTS_AVG        -0.003176
NONLIVINGAREA_AVG              -0.013578
APARTMENTS_MODE                -0.027284
BASEMENTAREA_MODE              -0.019952
YEARS_BEGINEXPLUATATION_MODE   -0.009036
YEARS_BUILD_MODE               -0.022068
COMMONAREA_MODE                -0.016340
ELEVATORS_MODE                 -0.032131
ENTRANCES_MODE                 -0.017387
FLOORSMAX_MODE                 -0.043226
FLOORSMIN_MODE                 -0.032698
LANDAREA_MODE                  -0.010174
LIVINGAPARTMENTS_MODE          -0.023393
LIVINGAREA_MODE                -0.030685
NONLIVINGAPARTMENTS_MODE       -0.001557
NONLIVINGAREA_MODE             -0.012711
APARTMENTS_MEDI                -0.029184
BASEMENTAREA_MEDI              -0.022081
YEARS_BEGINEXPLUATATION_MEDI   -0.009993
YEARS_BUILD_MEDI               -0.022326
COMMONAREA_MEDI                -0.018573
ELEVATORS_MEDI                 -0.033863
ENTRANCES_MEDI                 -0.019025
FLOORSMAX_MEDI                 -0.043768
FLOORSMIN_MEDI                 -0.033394
LANDAREA_MEDI                  -0.011256
LIVINGAPARTMENTS_MEDI          -0.024621
LIVINGAREA_MEDI                -0.032739
NONLIVINGAPARTMENTS_MEDI       -0.002757
NONLIVINGAREA_MEDI             -0.013337
TOTALAREA_MODE                 -0.032596
OBS_30_CNT_SOCIAL_CIRCLE        0.009131
DEF_30_CNT_SOCIAL_CIRCLE        0.032248
OBS_60_CNT_SOCIAL_CIRCLE        0.009022
DEF_60_CNT_SOCIAL_CIRCLE        0.031276
DAYS_LAST_PHONE_CHANGE          0.055218
FLAG_DOCUMENT_2                 0.005417
FLAG_DOCUMENT_3                 0.044346
FLAG_DOCUMENT_4                -0.002672
FLAG_DOCUMENT_5                -0.000316
FLAG_DOCUMENT_6                -0.028602
FLAG_DOCUMENT_7                -0.001520
FLAG_DOCUMENT_8                -0.008040
FLAG_DOCUMENT_9                -0.004352
FLAG_DOCUMENT_10               -0.001414
FLAG_DOCUMENT_11               -0.004229
FLAG_DOCUMENT_12               -0.000756
FLAG_DOCUMENT_13               -0.011583
FLAG_DOCUMENT_14               -0.009464
FLAG_DOCUMENT_15               -0.006536
FLAG_DOCUMENT_16               -0.011615
FLAG_DOCUMENT_17               -0.003378
FLAG_DOCUMENT_18               -0.007952
FLAG_DOCUMENT_19               -0.001358
FLAG_DOCUMENT_20                0.000215
FLAG_DOCUMENT_21                0.003709
AMT_REQ_CREDIT_BUREAU_HOUR      0.000930
AMT_REQ_CREDIT_BUREAU_DAY       0.002704
AMT_REQ_CREDIT_BUREAU_WEEK      0.000788
AMT_REQ_CREDIT_BUREAU_MON      -0.012462
AMT_REQ_CREDIT_BUREAU_QRT      -0.002022
AMT_REQ_CREDIT_BUREAU_YEAR      0.019930
DAYS_EMPLOYED_ANOM             -0.045987
Name: TARGET, dtype: float64

In [10]:
type(app_train.corr()['TARGET'])

pandas.core.series.Series

## 練習時間
列出目標 (TARGET) 與所有欄位之間相關係數，數值最大以及最小各 15 個

通過相關係數的結果觀察有興趣的欄位與 TARGET 或其他欄位的相關係數，並嘗試找出有趣的訊息
- 最好的方式當然是畫圖，舉例來說，我們知道  EXT_SOURCE_3 這個欄位和 TARGET 之間的相關係數是 -0.178919 (在已經這個資料集已經是最負的了！)，那我們可以 EXT_SOURCE_3  為 x 軸， TARGET 為 y 軸，把資料給畫出來

In [11]:
corr_table = pd.DataFrame(app_train.corr()['TARGET'])

In [14]:
corr_table.sort_values('TARGET').head(15)

                              TARGET
EXT_SOURCE_3               -0.178919
EXT_SOURCE_2               -0.160472
EXT_SOURCE_1               -0.155317
DAYS_BIRTH                 -0.078239
DAYS_EMPLOYED_ANOM         -0.045987
FLOORSMAX_AVG              -0.044003
FLOORSMAX_MEDI             -0.043768
FLOORSMAX_MODE             -0.043226
AMT_GOODS_PRICE            -0.039645
REGION_POPULATION_RELATIVE -0.037227
ELEVATORS_AVG              -0.034199
ELEVATORS_MEDI             -0.033863
FLOORSMIN_AVG              -0.033614
FLOORSMIN_MEDI             -0.033394
LIVINGAREA_AVG             -0.032997

In [17]:
corr_table.sort_values('TARGET',ascending=False).head(15)

                               TARGET
TARGET                       1.000000
DAYS_EMPLOYED                0.074958
REGION_RATING_CLIENT_W_CITY  0.060893
REGION_RATING_CLIENT         0.058899
DAYS_LAST_PHONE_CHANGE       0.055218
DAYS_ID_PUBLISH              0.051457
REG_CITY_NOT_WORK_CITY       0.050994
FLAG_EMP_PHONE               0.045982
REG_CITY_NOT_LIVE_CITY       0.044395
FLAG_DOCUMENT_3              0.044346
DAYS_REGISTRATION            0.041975
OWN_CAR_AGE                  0.037612
LIVE_CITY_NOT_WORK_CITY      0.032518
DEF_30_CNT_SOCIAL_CIRCLE     0.032248
DEF_60_CNT_SOCIAL_CIRCLE     0.031276